DEVELOPMENT_USERNAME=bzewsxej
DEVELOPMENT_PASSWORD=RwLXCVOHPKhNCdQd2z7g82jmrpDPyhZR
DEVELOPMENT_DATABASE=bzewsxej
DEVELOPMENT_HOST=rajje.db.elephantsql.com
REGION=amazon-web-services::us-east-1

TEST_USERNAME=
TEST_PASSWORD=
TEST_DATABASE=
TEST_HOST=
REGION=

PRODUCTION_USERNAME=
PRODUCTION_PASSWORD=
PRODUCTION_DATABASE=
PRODUCTION_HOST=
REGION=

SECRET=secret